[
	{
		"Name" : "UNITY",
		"Path" : "C:\\Program Files\\Unity\\Editor\\Unity.exe",
		"PlaceHolder" : "%EXE_APP_UNITY%",
		"Description" : null,
		"PotentialParameters" : [
			"-projectPath \"%SELECTED_PROJECT%\"",
			"-logFile \"%SELECTED_PROJECT%\"",
			"-exportPackage ",
			"-importPackage ",
			"-executeMethod ",
			"-createProject \"%SELECTED_PROJECT%\"",
			"-batchmode",
			"-quit",
			"-nographics (Windows only)",
			"-silent-crashes"
		]
	},
	{
		"Name" : "SVN",
		"Path" : "C:\\Program Files\\TortoiseSVN\\bin\\svn.exe",
		"PlaceHolder" : "%EXE_APP_SVN%",
		"Description" : null
	},
	{
		"Name" : "CMD",
		"Path" : "C:\\Windows\\System32\\cmd.exe",
		"PlaceHolder" : "%EXE_APP_CMD%",
		"Description" : null,
		"PotentialParameters" : [
			"//C mkdir \"%SELECTED_PROJECT%\" REM run create directory."
		]
	}
]
