[
{
"Name" : "UNITY",
"Path" : "C:\\Program Files\\Unity\\Editor\\Unity.exe",
"PlaceHolder" : "%EXE_APP_UNITY%",
"Description" : null,
"PotentialParameters" : [
"-projectPath %projectpath%",
"-logFile %projectpath%",
"-exportPackage ",
"-importPackage ",
"-executeMethod ",
"-createProject %projectpath%",
"-batchmode",
"-quit",
"-nographics (Windows only)",
"-silent-crashes"
]
},
{
"Name" : "SVN",
"Path" : "C:\\Program Files\\TortoiseSVN\\bin\\svn.exe",
"PlaceHolder" : "%EXE_APP_SVN%",
"Description" : null
},
{
"Name" : "SVN",
"Path" : "C:\\Program Files\\TortoiseSVN\\bin\\svn.exe",
"PlaceHolder" : "%EXE_APP_SVN%",
"Description" : null
},
{
"Name" : "CMD",
"Path" : "C:\\Windows\\System32\\cmd.exe",
"PlaceHolder" : "%EXE_APP_SVN%",
"Description" : null
}
]
