[
{
"Url" : "http://mayafileserver:81/InteDesign_unity_v2/UnityDesign",
"LocalUrl" : "D:\\works\\InteDesign_unity_v2\\UnityDesign\\",
"Name" : "Unity Designer",
"UrlDepth" : 1,
"Ext" : "type=designer"
},
{
"Url" : "http://mayafileserver:81/InteDesign_unity_v2/UnityDesign",
"LocalUrl" : "D:\\works\\InteDesign_unity_v2\\UnityDesign\\",
"Name" : "Unity Model",
"UrlDepth" : 1,
"Ext" : "type=modelr"
},
]