[
{
"Url" : "http://mayafileserver:81/InteDesign_unity_v2/UnityDesign/Suite/",
"LocalUrl" : "D:\\works\\InteDesign_unity_v2\\UnityDesign\\Suite\\",
"Name" : "UnityDesigner",
"UrlDepth" : 2,
"Ext" : "type=designer"
},
{
"Url" : "http://mayafileserver:81/InteDesign_unity_v5/UnityDesign",
"LocalUrl" : "D:\\works\\InteDesign_unity_u5\\UnityDesign\\",
"Name" : "UnityDesigner_U5",
"UrlDepth" : 3,
"Ext" : "type=designer"
},
{
"Url" : "http://mayafileserver:81/InteDesign_unity_v2/UnityProduct",
"LocalUrl" : "D:\\works\\InteDesign_unity_v2\\UnityProduct\\",
"Name" : "UnityModel",
"UrlDepth" : 1,
"Ext" : "type=modeler"
},
]