[
{
"Url" : "http://mayafileserver:81/InteDesign_unity_v2/UnityDesign/Suite/",
"LocalUrl" : "D:\\works\\InteDesign_unity_v2\\UnityDesign\\Suite\\",
"Name" : "室内设计",
"UrlDepth" : 2,
"Ext" : "type=designer"
},
{
"Url" : "http://fileserver:81/InteDesign_unity_u5/UnityDesign",
"LocalUrl" : "D:\\works\\InteDesign_unity_u5\\UnityDesign\\",
"Name" : "室内设计_Unity5",
"UrlDepth" : 3,
"Ext" : "type=designer"
},
{
"Url" : "http://mayafileserver:81/InteDesign_unity_v2/UnityProduct",
"LocalUrl" : "D:\\works\\InteDesign_unity_v2\\UnityProduct\\",
"Name" : "建模",
"UrlDepth" : 1,
"Ext" : "type=modeler"
},
]